.section {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 270px;
    right: 0;
    z-index: 0;
    opacity: 1;
    padding: 0 30px;
    .container {
        max-width: 1100px;
        width: 100%;
        margin: auto;
        .home-info {
            flex: 0 0 60%;
            max-width: 60%;
            p {
                margin-bottom: 70px;
                font-size: 20px;
                color: var(--text-black-700);
            }
            h3.hello {
                font-size: 28px;
                margin: 15px 0;
                span {
                    font-family: 'Clicker Script', cursive;
                    font-size: 30px;
                    font-weight: 700;
                    color: var(--skin-color);
                }
            }
            h3.my-professions {
                font-size: 30px;
                margin: 15px 0;
                .typing {
                    color: var(--skin-color);
                }
            }    
        }
        .home-image {
            flex: 0 0 40%;
            max-width: 40%;
            align-items: center;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                height: 80px;
                width: 80px;
                border-bottom: 10px solid var(--skin-color);
                border-right: 10px solid var(--skin-color);
                right: -20px;
                bottom: -40px;
            }
            &::before {
                content: '';
                position: absolute;
                height: 80px;
                width: 80px;
                border-top: 10px solid var(--skin-color);
                border-left: 10px solid var(--skin-color);
                left: -28px;
                top: -40px;
            }
            img {
                height: 400px;
                border-radius: 4px;
                margin: auto;
            }
        }
    }
}

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    align-items: center;
}